.icon-button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button svg {
    width: 25px;
    height: 25px;
    scale: 2;
}

.icon-button .large {
    background-color: red;
}

.hide {
    display: none;
}